# API starter:

Welcome to the COVID-19 challenge! Flex your amazing python and pandas skills to build an informative analysis. 

Use this notebook to connect to the COVID-19 database for access to our datasources.

Use [these API's](https://ijvcpr9af1.execute-api.eu-west-1.amazonaws.com/api/) to access the data.

<br>
<br>

In [1]:
# imports

import pandas as pd
import requests

# Introduction

South Africa seems to be leading the way in successfully stemming the flow of the COVID 19 and keeping community transmissions reasonably low-that is a success that no one else has achieved. Our people are scared -as they should be- they have more questions than answers: Can SA escape the worst of this epidemic? Is exponential spread avoidable? The short answer to these questions is No. According to Prof Salon Abdool Karim who currently chairs the Ministerial Advisory Group for the trends and next steps in combating the virus in SA, the reason is simply because all of us have no immunity against this virus. He was quoted saying "SA will not escape unless she has a special protective mojo not present anywhere else in the world".

I'm not here to shutter hopes, that is not my intention, but my question is "why then is South Africa not on the expected Covid19 epidemic trajectory". Why is our curve unique. Is it even unique or are we simply delaying the inevitable I.e a delayed spiral of cases after the lockdown. These are the questions we explore in this notebook. The data comes from a huge central repository created by the team at Explore AI. The database is a collection of publicly available data delivered to the community through APIs. The code below will pull the various tables into our environment.

In [2]:
casesGlobal = 'https://9gnht4xyvf.execute-api.eu-west-1.amazonaws.com/api/get_table/CasesGlobalView'
casesLocal = 'https://9gnht4xyvf.execute-api.eu-west-1.amazonaws.com/api/get_table/CasesLocalView'
testsLocal = 'https://9gnht4xyvf.execute-api.eu-west-1.amazonaws.com/api/get_table/Testing'
counterMeasures = 'https://9gnht4xyvf.execute-api.eu-west-1.amazonaws.com/api/get_table/CounterMeasureView'

urls = {
    'casesGlobal': casesGlobal,
    'casesLocal': casesLocal,
    'testsLocal': testsLocal,
    'counterMeasures': counterMeasures
}

headers = {
    'x-api-key': "WVllUkRA01awNNgKxGg607vl5qIvuOAN3pW9HXmD"
    }

tables = {}
for table_name, url in urls.items():
    response = requests.request("GET", url, headers = headers)
    x = response.json()
    tables[table_name] = pd.DataFrame(x)

In [20]:
print('TABLE: casesLocal')
print(tables['casesLocal'].shape)
print(tables['casesLocal']['country_id'].nunique())
print(tables['casesLocal']['location'].nunique())
print(tables['casesLocal']['date'].min(), tables['casesLocal']['date'].max())
print()
print('TABLE: testsLocal')
print(tables['testsLocal'].shape)
print(tables['testsLocal']['country'].nunique())
print(tables['testsLocal']['date'].min(), tables['testsLocal']['date'].max())
print()
print('TABLE: counterMeasures')
print(tables['counterMeasures'].shape)
print(tables['counterMeasures']['country'].nunique())
print(tables['counterMeasures']['date'].min(), tables['counterMeasures']['date'].max())
print(tables['counterMeasures']['measure'].nunique())
print()
print('TABLE: casesGlobal')
print(tables['casesGlobal'].shape)
print(tables['casesGlobal']['country'].nunique())
print(tables['casesGlobal']['date'].min(), tables['casesGlobal']['date'].max())

TABLE: casesLocal
(370, 6)
1
10
2020-03-05 2020-04-12

TABLE: testsLocal
(44, 3)
1
2020-02-11 2020-04-12

TABLE: counterMeasures
(27390, 4)
27
2020-01-23 2020-04-05
23

TABLE: casesGlobal
(7423, 14)
185
2020-01-22 2020-04-12

In [50]:
tables['casesLocal'].head()

   confirmed  country_id        date  id location location_level
0          0         153  2020-03-05   1       EC     Provincial
1          0         153  2020-03-07   1       EC     Provincial
2          0         153  2020-03-08   1       EC     Provincial
3          0         153  2020-03-09   1       EC     Provincial
4          0         153  2020-03-11   1       EC     Provincial

In [51]:
tables['testsLocal'].head()

        country  cumulative_tests        date
0  South Africa                61  2020-02-11
1  South Africa                67  2020-02-13
2  South Africa                71  2020-02-14
3  South Africa                95  2020-02-19
4  South Africa               106  2020-02-20

In [52]:
tables['casesGlobal'].head()

,active,active_dailiy_growth_rate,active_rolling_3_day_growth_rate,confirmed,confirmed_daily,country,daily_change_in_active_cases,date,deaths,deaths_daily,lat,long,recovered,recovered_daily
0,1,NaN,NaN,1,NaN,Afghanistan,NaN,2020-02-24,0,NaN,33.0,65.0,0,NaN
1,1,0.0,NaN,1,0.0,Afghanistan,0.0,2020-02-25,0,0.0,33.0,65.0,0,0.0
2,1,0.0,NaN,1,0.0,Afghanistan,0.0,2020-02-26,0,0.0,33.0,65.0,0,0.0
3,1,0.0,0.0,1,0.0,Afghanistan,0.0,2020-02-27,0,0.0,33.0,65.0,0,0.0
4,1,0.0,0.0,1,0.0,Afghanistan,0.0,2020-02-28,0,0.0,33.0,65.0,0,0.0

In [53]:
tables['counterMeasures'].head()

     country        date                           measure  value
0  Australia  2020-02-14  International travel restriction    3.0
1  Australia  2020-03-28                        Resumption    0.0
2  Australia  2020-02-23     Diagnostic criteria tightened    0.0
3  Australia  2020-01-27             Activity cancellation    0.0
4  Australia  2020-03-04         Healthcare specialisation    0.0