In [1]:
from get_data import testsGlobal, populationGlobal

In [2]:
testsGlobal = testsGlobal()

In [3]:
testsGlobal[testsGlobal['location'] == 'United Kingdom'].head()

,location,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,tests_units
date,,,,,,
2019-12-31,United Kingdom,NaN,NaN,NaN,NaN,NaN
2020-01-01,United Kingdom,NaN,NaN,NaN,NaN,NaN
2020-01-02,United Kingdom,NaN,NaN,NaN,NaN,NaN
2020-01-03,United Kingdom,NaN,NaN,NaN,NaN,NaN
2020-01-04,United Kingdom,NaN,NaN,NaN,NaN,NaN

In [2]:
populationGlobal = populationGlobal()

In [3]:
populationGlobal.head()

,Rank,"Country, (or, dependent, territory)",Population,"%, of, worldpopulation",Date,Source
0,1,China,1402277000,18.0%,19 Apr 2020,National population clock
1,2,India,1361221411,17.5%,19 Apr 2020,National population clock
2,3,United States,329544257,4.24%,19 Apr 2020,National population clock
3,4,Indonesia,266911900,3.43%,1 Jul 2019,National annual projection
4,5,Pakistan,219335520,2.82%,19 Apr 2020,2017 census

In [4]:
populationGlobal.to_csv('populationGlobal.csv')